.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    align-items: center;
    padding-top: 150px;
}

.main {
    display: flex;
    justify-content: space-between;
    height: 420px;
    width: 900px;
    z-index: 1;
    box-shadow: 0px 0px 10px silver;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

.inner-main {
    flex: 40%;
    text-align: right;
    margin-top: 50px;
}

.inner-main img {
    width: 270px;
}

.today {
    flex: 60%;
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 10px;
}

.today p {
    font-size: 28px;
}

.today h2 {
    font-size: 45px;
    font-weight: bold;
    margin: 2px;
}

.weather {
    display: flex;
    z-index: 2;
    position: absolute;
    bottom: 350px;
}

.city {
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.city input {
    width: 500px;
    height: 20px;
    border-radius: 50px;
    font-size: 20px;
    padding: 15px;
    box-shadow: 0px 0px 10px silver;
    border: 0;
    
}

.city button {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: #96EFFF;
    margin-left: 30px;
    border: 0;
}

.city button:hover {
    background-color: #5FBDFF;
    color: #fff;
    cursor: pointer;
}