.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    
}

.main {
    display: flex;
    justify-content: space-between;
    min-height: 460px;
    width: 770px;
    z-index: 1;
    box-shadow: 0px 0px 10px silver;
    border-radius: 20px;
    background-color: transparent;
}

.inner-main {
    flex: 40%;
    text-align: right;
    margin-top: 100px;
}

.inner-main img {
    width: 190px;
}

.today {
    flex: 70%;
    margin-left: 30px;
    margin-top: 80px;
    padding-left: 50px;
}

.today p {
    font-size: 22px;
}

.today h2 {
    font-size: 35px;
    font-weight: bold;
}

.weather {
    display: flex;
    z-index: 2;
    position: absolute;
    bottom: 250px;
}